<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Language Process</title>
</head>
<body>
    <header>
        <h1>Natural Language Process</h1>
    </header>
<main>
    <section class="input">
        <textarea class="inputtext" placeholder="Type in the URL here..."></textarea>
        <button class="analyze">Analyze</button>
    </section>
    <section class="result">
        <h2>Result</h2>
    </section>
</main>
</body>
</html>