<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Language Process</title>
</head>
<body>
    <header>
        <h1>Natural Language Process</h1>
    </header>
<main>
    <section class="input">
        <textarea class="inputtext" placeholder="Type in the URL here..."></textarea>
        <button class="analyze">Analyze</button>
    </section>
    <section class="result">
        <h2>Result</h2>
        <div class="polarity">The App is using Meaning Cloud API to analyze a webpage.</div>
        <div class="subjectivity">Notice: It might take a while to retrieve data.</div>
        <div class="agreement">Wait patiently until data is fetched.</div>
        <div class="confidence"></div>
        <div class="snippets">
            <h3 class="snippetheading"></h3>
            <p class="textextraction"></p>
        </div>
    </section>
</main>
<script src="https://kit.fontawesome.com/b0c79d8457.js" crossorigin="anonymous"></script>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>
</body>
</html>